.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
}

body {
  background-color: #ffffff; /* Light grayish-green background */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}
